h1{

  font-weight:bold;
  font-size: 50px;

}

body{
  background-color: black;
  color: white;
  font align-content: center;
    font-family: Verdana;
}

.cta{
  color: aquamarine;
  font-size: 16px;
}
p {
color: gray
  font size: 21px
  font-weight:bold;
}
